*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#guns_build
*.apk
*.ap_
output.json
output-metadata.json
!/doc/release_ver/pie/Customizing.apk
!/doc/release_ver/legacy/Customizing.apk
!/doc/release_ver/oem/Customizing.apk
!doc/release_ver/
